body {
    background-color: #4F1628;
}
.container{
    margin: 0;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.inventory{
    margin-left: 50px;
}
.logo{
    height: 150px;
    width: 700px;
    display: block;
    margin: 40px auto;
    background: aqua;
}