body {
    background-color: #1d1b1c;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    margin: 0;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;    
    gap: 20px;
}
.inventory{
    margin-left: 50px;
}
.logo{
    display: block;
    margin: 20px auto;

}
.startButton{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 15px 30px;
    font-size: 24px;
    cursor: pointer;
}
